@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

#top-header {
  color: white;
  transition: all 75ms linear;
  -webkit-transition: all 75ms linear;
  -ms-transition: all 75ms linear;
  -o-transition: all 75ms linear;
  -ms-transition: all 75ms linear;
}

#galleria::after {
  content: '\f078';
}

.active {
  background: rgba(31, 31, 31, 1);
  color: white;
  padding: 2px 5px;
}

.active:hover {
  opacity: 0.50;
}

.open {
  opacity: 1;
  padding: 40px 60px;
  text-align: right;
  transition: all 0.2s;
}